.text {
	font-size: 0.99rem;
	line-height: 1.9;
	color: #242424;
}
/* medium */
@media only screen and (width >= 48rem) {
	
}

/* large */
@media only screen and (width >= 64rem) {
	.icon-nav {
		display: none;
	}
}